body {
    font-family: monospace;
    background: gray;
    padding: 10px;
    font-size: larger;
    padding-bottom: 10px;
}

.header {
    text-align: center;
    background: black;
}
.header h1 {
    font-size: 50px;
    color: lightgray;
    padding: 5px;
    margin: 0px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #333;
    width: 100%;
    margin-bottom: 10px;
}

.nav_button {
    padding: 15px 30px;
    border-right: 1px solid #000000;
    transition: all 0.3s ease;
    color: white;
}

.nav_bar a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.nav_bar .nav_button:hover {
    background-color: lightgrey;
    color: black;
    padding: 20px 40px;
}

.curPage {
    background-color: black;
}

.left_column {
    position: sticky;
    float: left;
    width: 25%;
    margin-bottom: 10px;
}

.left_column img {
    transition: width 0.25s ease;
    display: block;
    width: 80%;
    margin-bottom: 5px;
}

.left_column img:hover {
    width: 100%;
}

.right_column {
    float: left;
    width: 65%;
    background-color: lightgray;
    position: static;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.content {
    background-color: lightgray;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.projects {
    width: 100%;
}

.projects td {
    border-bottom: 1px solid black;
}